:root {
  --marquee-width: 100%;
  /*--marquee-height: 20vh;*/
  /*--marquee-elements: 12;*/
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  /*background-color: #111;*/
  color: #eee;
  overflow: hidden;
  position: relative;
}

.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, #00b2c2 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, #00b2c2 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  gap: 1rem;
}

/* .marquee-content:hover {
  animation-play-state: paused;
} */

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4);
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /*height: 100%;*/
  border: 1px solid #ffffff;
  /*background-color: rgba(249,249,249,0.42);*/
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: linear-gradient(142deg, rgba(255,255,255,0.59) 1%, rgba(255,255,255,0.31));
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  :root {
    --marquee-width: 100%;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
}

@media (max-width: 600px) {
  .marquee:before, .marquee:after {
    width: 5rem;
  }
}

.hizmet_kutu::after {
  position: absolute;
  display: grid;
  content: "İncele";
  background-color: #318a92;
  color: #fff;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
  border-width: 1px;
  border-style: solid;
}

.hizmet_kutu2::after {
  position: absolute;
  display: grid;
  content: "Teklif Al";
  background-color: #318a92;
  color: #fff;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
  border-width: 1px;
  border-style: solid;
}

.hizmet_kutu:hover::after {
  height: 100%;
  z-index: 2;
}

.hizmet_kutu2:hover::after {
  height: 100%;
  z-index: 2;
}

.hizmet_kutu:hover .hizmet_icon {
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999999999999999999;
  width: 2rem;
  background-color: #dcfcff;
}

.hizmet_kutu2:hover .hizmet_icon2 {
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999999999999999999;
  width: 2rem;
  background-color: #dcfcff;
}

.section-col h4.modal-title {
  color: #000;
}

.portfoliopage a {
  text-decoration: none;
}

.portfoliopage .section {
  padding: .5rem .5rem 1rem .5rem;
}

.secbaslikdiv {
  padding-top: 1rem;
  position: relative;
}

.portfoliopage .section p {
  color: #818181;
  font-family: 'Montserrat';
  margin-bottom: 0;
}

.portfolyoicon {
  position: absolute;
  bottom: 0;
  right: .5rem;
}

@media (min-width: 768px) {
  .masaustundegizle {
    display: none!important;
  }
}

.navbarsmotherdiv {
  /*background-color: rgba(255,255,255,0.7);*/
  /*backdrop-filter: blur(3px);*/
  /*-webkit-backdrop-filter: blur(3px);*/
  top: 0;
  width: 100%;
  z-index: 9;
  padding-top: 1rem;
  transition-duration: .2s;
}

.navbarsmotherdiv.scrolled {
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding-top: 0!important;
}

.solayapisiksosyal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.solayapisiksosyal a {
  padding: .5rem;
  color: grey;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  display: flex;
  align-items: center;
  border-color: lightgray;
  width: 34px;
  height: 34px;
  transition-duration: .2s;
  justify-content: center;
  background-color: #fff;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999;
}

.solayapisiksosyal a:not(:last-child) {
  margin-bottom: .20rem;
}

.solayapisiksosyal a:hover {
  background-color: #318a92;
  color: #fff;
  /*padding-left: 1rem;*/
  width: calc(34px + .5rem);
  justify-content: end;
}

footer .bs-icon {
  font-size: 1.3rem;
}

.container.markalar .carousel .col {
  justify-content: center;
  display: flex;
}

.markalar img {
  border: solid 1px var(--bs-gray-400);
  padding: .5rem 0;
}

.markalar .carousel-indicators li {
  opacity: 1!important;
}

.referanscarousell {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.referanscarousell img {
  max-width: 100%;
}

.hakkimizdabaslik {
  font-family: 'Zilla Slab';
}

.icindekidiv {
  width: 85%;
  margin: auto;
  font-family: 'Zilla Slab';
}

.secondarybaslik {
  font-family: 'Zilla Slab';
  color: #4f949d;
  font-size: 2rem;
}

.hizmetlerrow-2 {
  margin-left: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--bs-gray-500);
  border-radius: .25rem;
  margin-right: 0;
  margin-bottom: 2rem;
  overflow-x: hidden;
}

.hizmetlerrow-2 img {
  max-width: 100%;
}

.secondarybaslik2 {
  font-family: 'Zilla Slab';
  color: #000;
  font-size: 19px;
}

.hizmetlerrow-2 ul {
  font-family: 'Zilla Slab';
}

.rocketlink {
  position: absolute;
  top: 10rem;
  right: 2rem;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
}

.rocketlink img {
  width: 3rem;
}

@media (max-width: 768px) {
  .hizmetlerfotocol {
    display: grid;
    align-items: center;
    padding-top: 1.5rem;
    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/
  }
}

@media (min-width: 768px) {
  .hizmetlerfotocol {
    display: grid;
    align-items: start;
    padding-top: 1.5rem;
  }
}

.hizmetlerfotocol {
}

@media (max-width: 768px) {
  .listecol {
    padding-top: 1rem;
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .listecol {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 768px) {
  .hizmetleraciklamacol {
    padding-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  .hizmetleraciklamacol {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .hizmetlerrow-2 .bucol {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .hizmetleraciklamacol.bucol:last-child {
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .hakkimizdabaslikk {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .secondarybaslik2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .bucol.hakkimizdabaslikcol {
    padding-top: 2.5rem;
  }
}

.secondarybaslik.anasecondarybaslik {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

@media (max-width: 768px) {
  .hakkimizdabaslik.anahakkimizdabaslik {
    /*font-weight: bold;*/
    font-size: 2rem;
  }
}

.referanslarrow .col img {
  filter: grayscale(100%);
  transition-duration: .2s;
  border: 1px solid var(--bs-gray-400);
}

.referanslarrow .col img:hover {
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .referanslarrow .col {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .blogyazisi {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .daraltbaslik {
    line-height: 70px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    gap: 1rem;
  }
}

.navbar-nav .nav-link {
  text-align: center;
  /*padding-right: 1rem;*/
}

@media (max-width: 768px) {
  .tepecarousel .carousel-indicators {
    bottom: 7rem!important;
  }
}

@media (min-width: 768px) {
  .fas.fa-quote-left {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .fas.fa-quote-left {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .navbarsmotherdiv {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(255,255,255,0.83);
  }
}

@media (max-width: 768px) {
  .mycont {
    max-width: 95%;
  }
}

.section-col .section {
  padding: .5rem;
}

.navbarsmotherdiv.hide {
  transform: translateY(-100%);
}

.navmenu {
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  display: flex;
  gap: 1rem;
  height: 3rem;
  border-radius: 3rem;
  position: fixed;
  background-color: #318a92;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  z-index: 3;
  bottom: 1.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #fff;
}

.floatsearchbutton.showit .navmenu {
  bottom: 0;
}

.navmenu.expand {
  width: 80vw;
  padding: 1rem 1.5rem 6rem;
  height: 16rem;
  border-radius: 0;
}

.navmenu a {
  color: #fff;
  text-decoration: none;
  font-family: 'Zilla Slab';
}

.navmenu li:not(:last-child) {
  margin-bottom: 2rem;
}

.w-33 {
  /*width: 33%;*/
}

.floatsearchbutton.showit .navmenu.expand ul {
  display: block;
  opacity: 1;
}

.navmenu ul a {
  /*display: block;*/
  /*opacity: 0;*/
  pointer-events: none;
}

.navmenu ul {
  transition-duration: .2s;
}

@media (min-width: 768px) {
  .floatsearchbutton, .navmenu {
    display: none;
  }
}

.navmenu.expand ul a {
  pointer-events: all;
}

.navmenu.expand ul {
  opacity: 1;
}

.navmenu ul {
  opacity: 0;
}

@media (min-width: 768px) {
  .navbarsmotherdiv {
    position: fixed;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 0!important;
    padding: 0!important;
  }
}

@media (min-width: 768px) {
  .floatsearchbutton.showit {
    display: none;
  }
}

footer a {
  text-decoration: none;
}

footer p {
}

footer {
  font-family: 'Zilla Slab';
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 768px) {
  footer .col:last-child .list-inline {
    padding-bottom: 4rem;
    display: block;
  }
}

.floatsearchbutton.showit.expand {
  width: 80vw;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.floatsearchbutton button {
  background: none;
  border: none;
  color: #fff;
  display: grid;
  align-items: center;
  font-size: 1.5rem;
}

.floatsearchbutton.showit .closeicon {
  opacity: 0;
  position: fixed;
  right: 50%;
  transition-duration: .2s;
}

.floatsearchbutton.showit.expand .closeicon {
  opacity: 1;
  /*position: static;*/
  right: 1rem;
}

.floatsearchbutton.expand .anasayfayadon {
  display: block!important;
}

.floatsearchbutton .anasayfayadon {
  display: none;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.floatsearchbutton.expand .menuyazisi {
  display: none;
}

.floatsearchbutton .menuyazisi {
  display: inline-block;
}

