.gilroybold {
  font-family: 'Gilroy-Bold ☞'!important;
}

.floatsearchbutton {
  position: fixed;
  /*right: 2rem;*/
  /*border-radius: 50%;*/
  color: #ffffff;
  background-color: rgba(49,138,146,0);
  text-decoration: none;
  /*width: 4rem;*/
  /*height: 4rem;*/
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  z-index: 7;
  bottom: -6rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.floatsearchbutton.showit {
  bottom: 1.5rem;
}

.floatsearchbutton {
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  display: flex;
  gap: 1rem;
  height: 3rem;
  border-radius: 3rem;
  font-family: 'Zilla Slab';
}

.floatsearchbutton:hover {
  color: #fff;
}

.floatsearchbutton:hover {
  /*width: 9rem;*/
  /*height: 3.2rem;*/
}

* {
  box-sizing: border-box;
}

* {
  /*outline: none;*/
  /*padding: 0;*/
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  outline: none;
  padding: 0;
}

*::after {
  margin: 0;
  padding: 0;
}

*::before {
  margin: 0;
  padding: 0;
}

