.hizmetler_p {
  display: inline;
  font-family: 'Montserrat';
  color: #318a92;
  padding-bottom: 0;
  font-weight: 500;
}

.hizmet_kutu {
  display: inline;
  position: relative!important;
  border-style: solid;
  border-width: 1px;
  border-color: #318a92;
  padding: 1.2rem 1.5rem;
  background-color: #ffffff;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  font-family: 'Montserrat';
  min-width: 10rem;
  justify-content: center;
  text-align: center;
}

.hizmet_icon {
  position: absolute;
  top: 0;
  left: .5rem;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: #318a92;
  z-index: 2;
  /*padding: 0 8px;*/
  width: 2.5rem;
  transition-duration: .5s;
  border-radius: 50%;
}

.modal-header2 {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
  background-color: #ffffff00;
}

.modal-content-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: #ffffff;
  /*background-clip: padding-box;*/
  /*border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);*/
  border-radius: 0rem;
  outline: 0;
}

.modal-header2 .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
  margin: calc(var(--bs-modal-header-padding-y) * -.5) calc(var(--bs-modal-header-padding-x) * .5rem) calc(var(--bs-modal-header-padding-y) * -.5) auto;
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(300%);
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 10px;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 50%;
  opacity: .7;
  background-color: #dcdcdc;
  position: sticky;
  top: 1.5rem;
  right: 1.5rem;
  float: right;
  margin-bottom: -36px;
}

