@media (min-width: 768px) {
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff00;
    background-clip: padding-box;
    border: 0;
    border-top: none;
    border-bottom: none;
    opacity: 1;
    /*transition: opacity .6s ease;*/
    border-radius: 1rem;
    transition-duration: .3s!important;
    /*animation-duration: .5s;*/
    background-size: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(100%);
    transition-property: inherit;
  }
}

@media (max-width: 768px) {
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 30px;
    margin-right: .5rem;
    margin-left: .5rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff00;
    background-clip: padding-box;
    border: 0;
    border-top: none;
    border-bottom: none;
    opacity: 1;
    /*transition: opacity .6s ease;*/
    border-radius: 0rem;
    transition-duration: .3s!important;
    /*animation-duration: .5s;*/
    background-size: 43px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(100%);
    transition-property: inherit;
  }
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  /*margin-right: 15%;*/
  margin-bottom: 1rem;
  /*margin-left: 15%;*/
  list-style: none;
  transition-duration: .5s;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: grid;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background-color: rgba(242,244,248,0.5);
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  transition-duration: .2s;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 50%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  /*justify-content: left;*/
  width: 3rem;
  padding: 0;
  color: #318a92;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
  transition: opacity .15s ease;
  height: 3rem;
  transform: translateY(-50%);
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
  filter: grayscale(100);
}

.carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: #318a92;
  text-decoration: none;
  outline: 0;
  opacity: 1;
  /*transform: scale(1.2);*/
}

.caouselmainheader {
  font-family: 'Zilla Slab';
}

@media (min-width: 768px) {
  .casouselsecondaryheading {
    font-family: 'Montserrat';
    color: #318a92;
  }
}

@media (max-width: 768px) {
  .casouselsecondaryheading {
    font-family: 'Montserrat';
    color: #318a92;
    /*background-color: #318a92;*/
    /*padding: 4px 7px;*/
    /*display: inline;*/
  }
}

@media (max-width: 768px) {
  .carousel-item .row .col {
    min-height: 100vh;
    padding-bottom: 10rem;
    padding-top: 8rem;
    position: relative;
  }
}

@media (min-width: 768px) {
  .carousel-item .row .col {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .carousel-item .row .col:last-child {
    display: none;
  }
}

@media (min-width: 768px) {
  .carousel-item .row .col:first-child div {
    padding-left: 2rem;
  }
}

@media (max-width: 768px) {
  .carousel-item .row .col:first-child div {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
  }
}

.navbar {
  position: fixed;
  top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.7);
  border-radius: 0;
  border-style: solid;
  border-width: .5px;
  border-color: #318a92;
  z-index: 9;
  padding-top: 1rem;
  padding-bottom: 1rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.carousel-aciklama {
  font-weight: 300;
  color: #737373;
  font-family: 'Montserrat';
}

@media (max-width: 768px) {
  .carousel-aciklama {
    line-height: 26px;
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .carousel-aciklama {
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  .caouselmainheader {
    font-size: 4rem;
  }
}

.modal {
  /*position: relative;*/
}

.form-control {
  display: block;
  width: 100%;
  padding: .75rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mynewheading {
  font-weight: 900;
  z-index: 3;
  font-family: 'Zilla Slab';
}

@media (min-width: 768px) {
  .mynewheading {
    line-height: 82px;
  }
}

@media (max-width: 768px) {
  .navbar.container {
    max-width: 95%;
  }
}

.miniparagraph {
  font-family: 'Montserrat';
  font-weight: 300;
  /*line-height: 38px;*/
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .miniparagraph {
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .miniparagraph {
    line-height: 38px;
  }
}

.yesilbutton {
  background: #318a92;
  border-color: #318a92;
  padding: .7rem 1.5rem;
  border-radius: 0;
}

.yesilbutton:hover {
  background-color: #ffffff00;
  color: #318a92;
  border-color: #318a92;
}

@media (min-width: 768px) {
  .carousel-indicators {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 768px) {
  .carousel-indicators {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    bottom: 7vh;
  }
}

.carousel-item .col:first-child img {
  max-width: 80vw;
  position: absolute;
  top: 6rem;
  right: 0;
  /*transform: translateX(50%);*/
  z-index: -2;
  opacity: .3;
}

@media (min-width: 768px) {
  .carousel-item .col:first-child img {
    display: none;
  }
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #318a92;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

@media (max-width: 768px) {
  .carousel-item .row .yesilbutton {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .kuculecekicon {
    background-size: 38px!important;
  }
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: none;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("../../assets/img/toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (max-width: 768px) {
  .hover-text {
    display: none;
  }
}

